html, * {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.5;
}

body{
	background-color: #eceff4;
}

header{
	background-color: #2a2a2d;
    color: #ffffff;
    padding: 20px;
    margin-bottom: 30px;
}

header h1{
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	font-size: 25px;
}

header #status{
	position: absolute;
	top: 10px;
	left: 250px;
}

.img-svg{
	width: 100%; height: auto;
}


#log{
	color: #fff;
    background: #25292e;
    border-radius: 0px 0px 5px 5px;
    border: none;
}

#posBar{
	position: relative;
	top: -40px;
	padding: 0 5px;
}

#posBar>span{
	padding: 0 10px;
}

div.smoothie-chart-tooltip {
	background: #fff;
	padding: 1em;
	margin-top: 20px;
	font-family: consolas;
	color: #000;
	font-size: 10px;
	pointer-events: none;
}

.tabcontent {
	display: none;
}

#emergency{
	padding-left: 50px;
	padding-right: 50px;
}